{% extends "index2.html" %}
{% block content %}

    <div class="col-sm-8 text-left"> 
    <h1>Welcome, Please upload Your File</h1>
    
    <form name="upload" action="" method="post" enctype="multipart/form-data">
      Your Email<br><input type="text" name="Email"><br>
      Your file<br><input type="file" name="upfile"><br>
       How many downloads do you allow?<br /><select name="downNum">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
  </select><br>
    <input type="submit" class="btn btn-default" value="submit">
    </form>
    </div>
{% if uuidName %}
<img src="/uuidImages/{{uuidName}}.jpg">
{% endif%}

{% endblock %}